@model IEnumerable<FindTheDwarves.Application.DTO.Dwarves.ShowDwarfDTO>

@{
    ViewData["Title"] = "MyDwarves";
}

<h1>MyDwarves</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a class="bg-light" asp-action="DwarfDetails" asp-route-dwarfName="@item.Name">@item.Name</a>
            </td>
        </tr>
}
    </tbody>
</table>
