
<div class="container">
    <div class="row">
        <h3 class="col-xl-4">
            Check Users:
            <br />
            <a asp-action="Users" class="btn btn-primary text-white">Users</a>
        </h3>
        <h3 class="col-xl-4">
            Dwarves:
            <br />
            <a asp-action="Dwarves" class="btn btn-primary text-white">Dwarves</a>
        </h3>
    </div>
</div>