@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy</h1>
    <p>To jest strona poświęcona zbieraniu Wrocławskich krasnali</p><br />
    <p>W celu rozpoczęcia zbierania krasnali <a asp-controller="Account" asp-action="Login">zaloguj się</a></p>
</div>
